@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;

  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  margin: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  position: relative;

  display: flex;

  padding: 0;

  background-color: #ffffff;
}

.main-image {
  display: block;

  margin: 0 auto ;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-img {
  display: block;

  background-image: url('../images/decorate/mask.png'),
  url('../images/decorate/index-background.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 520px;
  margin: 0;
  padding: 0 71px;

  list-style: none;
}

.navigation-user {
  align-items: center;
  justify-content: end;

  margin-left: auto;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-link {
  display: block;

  margin: 0;
  padding: 20px 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}

.navigation-user .navigation-item {
  margin-right: 20px;
}

.navigation-user .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user .navigation-link {
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
  margin: 0;
}

.link-here {
  display: block;

  width: 160px;
  height: 37px;
  margin: 14px 0;
  padding-top: 6px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;

  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #756257;
}

.logo {
  position: absolute;

  margin: 0 auto;
  margin-left: 50%;

  transform: translateX(-50%);
}

.advantages {
  padding-top: 63px;
  padding-bottom: 91px;

  background-color: #ffffff;
}

.main-down {
  display: block;

  width: 720px;
  margin: 0 auto;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
}

.main-down2 {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 58px;

  font-size: 22px;
  line-height: 36px;
  color: #333333;

  text-align: center;
}

.causes {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.cause-item-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cause-wrap {
  box-sizing: border-box;
  width: 400px;
  padding: 98px 90px 77px;

  color: #ffffff;

  text-align: center;

  background-color: #83b3d3;
}

.cause-wrap span {
  display: block;

  margin: 25px 0;
}

.cause-title1 {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  text-transform: uppercase;
}

.cause-description1 {
  margin: 0;
}

.cause-other {
  box-sizing: border-box;
  width: 400px;
  padding: 98px 75px 77px;

  text-align: center;
}

.cause-other span {
  display: block;

  margin: 25px 0;
}

.cause-title {
  display: block;

  width: 240px;
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  text-transform: uppercase;
}

.cause-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.cause-list {
  display: flex;

  padding: 0;

  list-style: none;
}

.cause-list-item {
  box-sizing: border-box;
  width: 400px;
  padding: 85px 75px 79px;

  text-align: center;
}

.cause-list-title {
  margin: auto auto 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  text-transform: uppercase;
}

.cause-list-title::before {
  content: '';

  display: block;

  margin: 0 auto;
  margin-bottom: 23px;

  background-repeat: no-repeat;
}

.cause-house::before {
  width: 75px;
  height: 72px;

  background-image: url('../images/icons/house.svg');
}

.cause-food::before {
  width: 74px;
  height: 70px;

  background-image: url('../images/icons/burger.svg');
}

.cause-gifts::before {
  width: 64px;
  height: 76px;

  background-image: url('../images/icons/gift.svg');
}

.b-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.o-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.footer-down {
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  text-transform: uppercase;
}

.footer-down2 {
  margin: 0 auto;
  margin-bottom: 45px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;

  text-align: center;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  text-transform: uppercase;

  background-color: #83b3d3;
}

.button-accept {
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  margin: 60px 0 20px;
  padding: 12px 35px;

  font-size: 16px;

  border: none;
  border-radius: 4px;
}

.button-search {
  display: block;

  box-sizing: border-box;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 13px 0;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;

  border-radius: 10px;
  background-color: #756257;
}

.email {
  display: flex;
}

.email-type {
  display: block;

  width: 600px;
  height: 60px;
  padding: 0 22px;

  border-style: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.button-submit {
  height: 60px;
  padding: 18px 35px 19px;

  border-style: none;
  border-radius: 0 10px 10px 0;
}

.number-phone {
  display: block;

  padding-top: 40px;
  padding-bottom: 30px;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}

.results {
  margin-bottom: 89px;

  background-color: #ffffff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.nav-page {
  display: flex;

  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

.nav-page-link-home {
  margin-right: 11px;
}

.nav-page-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.nav-page-link::before {
  content: '';

  display: block;

  width: 5px;
  height: 8px;
  margin-right: 10px;

  opacity: 0.3;
  background-image: url('../images/icons/bigger.svg');
  background-repeat: no-repeat;
}

.nav-page-item {
  list-style: none;
}

.filter-title {
  margin-bottom: 34px;
  padding: 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.flex-price {
  display: flex;
}

.filter-price-min,
.filter-price-max {
  display: block;

  box-sizing: border-box;
  width: 144px;
  height: 48px;
  padding: 0;
  padding-left: 19px;

  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  background: transparent;
}

.filter-price-max {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.filter-price-min::placeholder,
.filter-price-max::placeholder {
  position: relative;
  left: 90px;

  color: #ffffff;

  opacity: 0.3;
}

.filter-price-min::-webkit-outer-spin-button,
.filter-price-min::-webkit-inner-spin-button,
.filter-price-max::-webkit-outer-spin-button,
.filter-price-max::-webkit-inner-spin-button {
  display: none;
}

.button-flex {
  display: flex;
  flex-direction: column;
}

.button1 {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #ffffff;

  border: none;
  background: transparent;
}

.flex-results {
  display: flex;
  align-items: center;

  padding: 44px 72px 42px 71px;
}

.inner-footer-down {
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;

  text-transform: uppercase;
}

.count {
  margin: 0;
  margin-right: 192px;
  padding: 0;
}

.select-control {
  box-sizing: border-box;
  margin-right: 81px;
  padding: 12px 127px 13px 19px;

  font-size: 18px;
  line-height: 23px;
  color: #333333;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link-title {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.more {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
}

.button-favourites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  text-transform: uppercase;

  background-color: #83b3d3;
}

.button-favourites-set {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  color: #333333;

  text-transform: uppercase;

  background-color: #f2f2f2;
}

.pagination {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 72px;
}

.pagination-page {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;

  background-color: #83b3d3;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item .pagination-page {
  display: block;

  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;

  text-align: center;

  border-radius: 4px;
}

.pagination-item {
  display: block;

  margin-right: 7px;
}

.pagination-page-more {
  display: block;

  box-sizing: border-box;
  width: 625px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 61px;
  padding: 17px 227px;

  border-style: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.select-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hotels-number {
  margin-right: 51px;

  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.number-control {
  display: block;

  box-sizing: border-box;
  width: 160px;
  height: 48px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
  color: #333333;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.inner-footer-down2 {
  margin: 0 auto;
  margin-bottom: 45px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;

  text-align: center;
}

.order {
  text-align: center;

  background-color: #ffffff;
}

.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #ffffff;
}

.page-footer-inner {
  margin-bottom: 137px;
}

.page-footer-image {
  padding: 94px 200px;

  background-image: url('../images/decorate/background-blur.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 411px;
}

.contacts {
  display: flex;

  padding: 0 72px;

  background-color: #ffffff;
}

.messengers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.messengers-items {
  margin-right: 29px;
}

.contact-phone {
  margin-left: 60px;
}

.academy-container {
  display: block;

  width: 115px;
  margin-top: 42px;
  margin-left: auto;
}

.messengers-link:active {
  opacity: 0.3;
}

.twitter-link:hover path {
  fill: #7db54f;
}

.filters {
  margin-bottom: 44px;
  padding: 35px 72px 42px;

  background-image: url('../images/decorate/catalog-background-blur.jpg');
  background-repeat: no-repeat;
  background-size: 1200px 408px;
}

.button-list {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  margin-right: 8px;
  padding: 16px;

  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.button-list:last-child {
  margin: 0;

  border: 2px solid #000000;
}

.stars {
  background-image: url('../images/icons/star.svg');
  background-repeat: no-repeat;
}

.filters-flex {
  display: flex;
}

.filter-name {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-name:nth-child(2) {
  min-width: 125px;
}

.filter-name1 {
  margin-bottom: 13px;
}

.filter-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-list:nth-child(1) {
  margin-right: 67px;
}

.filter-list:nth-child(2) {
  margin-right: 167px;
}

.filter-list:nth-child(3) {
  margin-right: 100px;
}

